<main>
    <div class="posts">
        {{#if category}}
        <h1 class="posts-category">{{category}}</h1>
        {{else}}
        <h1 class="posts-category">All Projects</h1>
        {{/if}}

        {{#if available}}
        {{#each posts}}
        <div class="post">
            <div class="head-post">
                {{#if file}}
                <img class="card-img-top" src="{{file}}" alt="Card image cap">
                {{else}}
                <img class="card-img-top" src="https://picsum.photos/id/1011/1000/1000" alt="Card image cap">
                {{/if}}
            </div>

            <div class="main-post">
                <div class="left-post-title">
                    <div class="calender">
                        <div class="calender-date">{{getDate creationDate}}</div>
                        <div class="calender-month">{{getMonth creationDate}}</div>
                    </div>
                    <div class="creator">
                        <!-- logo -->
                        <img src="/img/logov03.png" alt="logo" class="creator-logo">
                        <!-- / logo -->
                    </div>
                </div>
                <div class="right-post-title">
                    <h1 class="title">
                        {{title}}
                    </h1>
                    <p class="preview">
                        {{preview description}}
                    </p>
                    <div class="center-title-phone">
                        {{#if views}}
                        <h4 class="information">{{category.title}} - 3 Views</h4>
                        {{else}}
                        <h4 class="information">Post - 0 Views</h4>
                        {{/if}}
                        <h4 class="release-date">Release Date: {{getDate creationDate}} {{getMonth creationDate}}</h4>
                        <a href="/project/{{_id}}" class="read-more">Read More 🡆</a>
                    </div>
                </div>
            </div>
        </div>
        <hr class="phone">
        {{/each}}
        {{else}}
        <div class="post">
            <h1 class="noPost"> No Projects Yet </h1>
        </div>
        {{/if}}
</main>