<main>
    <div class="spesific-post">
        <div class="back-to-home">
            <a href="/allProjects">
                < BACK TO ALL PROJECTS</a>
        </div>
        <div class="spesific-post-content">
            <div class="header-content">
                {{#if post.file}}
                <img class="card-img-top" src="{{post.file}}" alt="Card image cap">
                {{else}}
                <img class="card-img-top" src="https://picsum.photos/id/1011/750/300" alt="Card image cap">
                {{/if}}
                <div class="header-content-text">
                    <h1 class="title">
                        {{post.title}}
                    </h1>
                    <p>
                        <span>
                            <b>Created by Swadaya Ganesha | {{views}} views | {{time post.creationDate}} </b>
                        </span>
                    </p>
                </div>
            </div>
            <div class="main-content">
                <p class="description">
                    {{{post.description}}}
                </p>
            </div>
        </div>

        <div class="footer-content-button">
            {{#if post.pdf}}
            <a href="{{post.pdf}}" target="_blank" class="pdfButton">SHOW PDF</a>
            {{/if}}
            <a href="/contact" target="_blank" class="kriksar">Kritik & Saran</a>
        </div>
    </div>
</main>