<header>
    <div class="overlay">
        <ul class="menu-list">
            <li class="menu-list-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="menu-list-item dropdown-mini">
                <p class="nav-link-mini">Projects ></p>
                <div class="nav-link-mini-container">
                    <a class="nav-link-mini" href="/allProjects">All Projects</a>
                    {{#each allCategory}}
                    <a class="nav-link-mini" href="/allProjects?category={{query}}">{{title}}</a>
                    {{/each}}
                </div>
            </li>
            <li class="menu-list-item">
                <a class="nav-link" href="/allPosts">Posts</a>
            </li>
            <li class="menu-list-item">
                <a class="nav-link" href="/leaderboard">leaderboard</a>
            </li>
            {{#if login}}
            <li class="menu-list-item">
                <a class="nav-link" href="/admin">Admin</a>
            </li>

            <li class="menu-list-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            {{else}}
            <li class="menu-list-item">
                <a class="nav-link" href="#">Donation</a>
            </li>
            <li class="menu-list-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
            {{/if}}
        </ul>
    </div>

    <nav class="navbar flex background-blue align-center space-between">
        <div class="title flex align-center">
            <!-- === LOGO === -->
            <svg width="700" height="700" viewBox="0 0 177 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M88 32.5C88 42.165 80.165 50 70.5 50H53V32.5C53 22.835 60.835 15 70.5 15C80.165 15 88 22.835 88 32.5Z"
                    fill="#eee" />
                <path
                    d="M88 67.5C88 57.835 95.835 50 105.5 50H123V67.5C123 77.165 115.165 85 105.5 85C95.835 85 88 77.165 88 67.5Z"
                    fill="#eee" />
                <path
                    d="M53 67.5C53 77.165 60.835 85 70.5 85H88V67.5C88 57.835 80.165 50 70.5 50C60.835 50 53 57.835 53 67.5Z"
                    fill="#eee" />
                <path
                    d="M123 32.5C123 22.835 115.165 15 105.5 15H88V32.5C88 42.165 95.835 50 105.5 50C115.165 50 123 42.165 123 32.5Z"
                    fill="#eee" />
            </svg>
            <!-- === LOGO === -->

            <div class="title-description text-center">
                <h2>Swadaya Ganesha</h2>
                <h2>KM ITB</h2>
            </div>
        </div>

        <ul class="nav-list flex space-evenly align-center">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>

            <li class="nav-item projects">
                Projects
                <ul class="flex flex-row text-center">
                    <li><a class="nav-link" href="/allProjects">All Projects</a></li>
                    {{#each allCategory}}
                    <li><a class="nav-link" href="/allProjects?category={{query}}">{{title}}</a></li>
                    {{/each}}
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/allPosts">Posts</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/leaderboard">Leaderboard</a>
            </li>

            {{#if login}}
            <li class="nav-item">
                <a class="nav-link" href="/admin">Admin</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            {{else}}
            <li class="nav-item donation">
                <a class="nav-link" href="#">Donation</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
            {{/if}}
        </ul>

        <div class="hamburger-menu">
            <div class="menu-line menu-line-top"></div>
            <div class="menu-line menu-line-mid"></div>
            <div class="menu-line menu-line-bottom"></div>
        </div>
    </nav>
</header>