<header>
    <div class="overlay">
        <ul class="menu-list">
            <li class="menu-list-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="menu-list-item dropdown-mini">
                <p class="nav-link-mini">Projects ></p>
                <div class="nav-link-mini-container">
                    <a class="nav-link-mini" href="/allProjects">All Projects</a>
                    {{#each allCategory}}
                    <a class="nav-link-mini" href="/allProjects?category={{query}}">{{title}}</a>
                    {{/each}}
                </div>
            </li>
            <li class="menu-list-item">
                <a class="nav-link" href="/allPosts">Posts</a>
            </li>
            <li class="menu-list-item">
                <a class="nav-link" href="/leaderboard">leaderboard</a>
            </li>
            {{#if login}}
            <li class="menu-list-item">
                <a class="nav-link" href="/admin">Admin</a>
            </li>

            <li class="menu-list-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            {{else}}
            <li class="menu-list-item">
                <a class="nav-link" href="#">Donation</a>
            </li>
            <li class="menu-list-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
            {{/if}}
        </ul>
    </div>

    <nav class="navbar background-blue flex align-center space-between">
        <div class="title flex align-center">
            <!-- === LOGO === -->
            <img src="/img/logov03.png" alt="logo" class="logo">
            <!-- === LOGO === -->

            <div class="title-description text-center">
                <h2>Swadaya Ganesha</h2>
                <h2>KM ITB</h2>
            </div>
        </div>

        <ul class="nav-list flex space-evenly align-center">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>

            <li class="nav-item projects">
                Projects
                <ul class="flex flex-row text-center">
                    <li><a class="nav-link" href="/allProjects">All Projects</a></li>
                    {{#each allCategory}}
                    <li><a class="nav-link" href="/allProjects?category={{query}}">{{title}}</a></li>
                    {{/each}}
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/allPosts">Posts</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/leaderboard">Leaderboard</a>
            </li>

            {{#if login}}
            <li class="nav-item">
                <a class="nav-link" href="/admin">Admin</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            {{else}}
            <li class="nav-item donation">
                <a class="nav-link" href="#">Donation</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
            {{/if}}
        </ul>

        <div class="hamburger-menu">
            <div class="menu-line menu-line-top"></div>
            <div class="menu-line menu-line-mid"></div>
            <div class="menu-line menu-line-bottom"></div>
        </div>
    </nav>
</header>