<header class="header">
    <div class="overlay">
        <ul class="menu-list">
            <li class="menu-list-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="menu-list-item dropdown-mini">
                <p class="nav-link">Projets ></p>
                <div class="">
                    <a class="nav-link" href="/allProjets">All Projets</a>
                    {{#each allCategory}}
                    <a class="nav-link" href="/allProjets?category={{query}}">{{title}}</a>
                    {{/each}}
                </div>
            </li>
            <li class="menu-list-item">
                <a class="nav-link" href="/allPosts">Posts</a>
            </li>
            {{#if login}}
            {{#if admin}}
            <li class="menu-list-item">
                <a class="nav-link" href="/admin">Admin</a>
            </li>
            <li class="menu-list-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            {{else}}
            <li class="menu-list-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            {{/if}}
            {{else}}
            <li class="menu-list-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="menu-list-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
            {{/if}}
        </ul>
    </div>

    <nav>
        <div class="title">
            <img src="/img/logo.png" alt="logo" class="logo" />
            <div class="sub-title">
                <h2 class="sub-title-text">Kementrian Implementasi Bisnis</h2>
                <h2 class="sub-title-text sub-title-text-color">KM ITB</h2>
            </div>
        </div>



        <div class="nav-list">
            <ul class="navbar-ul">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>

                <li class="nav-item" id="dropdown">
                    <p class="nav-link">Projets</p>
                    <div class="dropdown-menu dropdown-menu-large">
                        <a class="nav-link" href="/allProjets">All Projets</a>
                        {{#each allCategory}}
                        <a class="nav-link" href="/allProjets?category={{query}}">{{title}}</a>
                        {{/each}}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/allPosts">Posts</a>
                </li>
                {{#if login}}
                {{#if admin}}
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                {{/if}}
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                {{/if}}
            </ul>
        </div>

        <div class="hamburger-menu">
            <div class="menu-line menu-line-top"></div>
            <div class="menu-line menu-line-mid"></div>
            <div class="menu-line menu-line-bottom"></div>
        </div>
    </nav>
</header>